body{
    margin: 0;
    padding: 0;
    height: 200vh;
    background-color: beige;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Ajout de cette ligne */
  }
  
  .logo{
    font-size: 24px;
    color: #000000;
    text-decoration: none;
    padding-left: 3%;
  }

  a img{
    width: 250px;
  }

  
  .burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding-right: 3%;
  }
  
  .line {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 3px 0;
  }
  
  .menu-items {
    display: flex;
    list-style: none;
    padding-right: 3%;
  }
  
  .menu-items li {
    margin-left: 20px;
    
  }
  
  .menu-items li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }

  .nav_link_reseaux img{
    width: 30px;
  }
  li{
    list-style: none;
  }
  
  .img-nav{
    display: flex;
    gap: 50px;
    justify-content: center;
  }
  @media (max-width: 768px) {
    .burger-menu {
      display: flex;
    }
  
    .menu-items {
      display: none;
    }
  
    .menu-items.active {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 10px;
    }
  
    .menu-items.active li {
      margin-left: 0;
      margin-bottom: 10px;
      
    }
  }